main h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    font-weight: bold;
}

.contenedor-tarjetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.tarjeta {
    width: 200px;
    padding: 20px;
    border: 2px solid #3498db;
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(195, 227, 239);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tarjeta h3 {
    color: #2c3e50;
    margin-bottom: 15px;
    font-size: 1.1rem;
    border-bottom: 3px solid #3498db;
    padding-bottom: 10px;
}

.tarjeta p {
    color: #555;
    font-size: 0.9rem;
    line-height: 1.5;
}

/* Responsive */
@media (max-width: 768px) {
    .contenedor-tarjetas {
        justify-content: center;
    }

    .tarjeta {
        width: 90%;
        max-width: 250px;
    }
}